[package]
name = "example"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
gooseboy = { path = "../gooseboy" }
black = { git = "https://github.com/sinclairzx81/black.git" }
