[package]
name = "chip8"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
gooseboy = { path = "../../gooseboy" }
rand = { version = "0.9.2", default-features = false, features = ["small_rng"] }
