name: Build DOOM

on:
    push:
        branches: [master]
    workflow_dispatch:
    pull_request:

env:
    CARGO_TERM_COLOR: always

jobs:
    build-wasm:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v5

            - name: Install Rust
              uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable
                  override: true

            - name: Add wasm target
              run: rustup target add wasm32-unknown-unknown

            - name: Install LLVM
              run: |
                  sudo apt update
                  sudo apt install -y llvm clang lld

            - name: Cache dependencies
              uses: actions/cache@v4
              with:
                  path: |
                      ~/.cargo/registry
                      ~/.cargo/git
                      target
                  key: ${{ runner.os }}-cargo-release-${{ hashFiles('**/Cargo.lock') }}

            - name: Build Gooseboy WASM
              run: cargo bci

            - name: Upload WASM artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: doom-wasm
                  path: target/wasm32-unknown-unknown/release/*.wasm

            - name: Upload all WASM files
              uses: actions/upload-artifact@v4
              with:
                  name: wasm-files
                  path: target/**/*.wasm
