name: Build

on:
    push:
        branches: [master]
    workflow_dispatch:
    pull_request:

env:
    CARGO_TERM_COLOR: always

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v5

            - name: Install Rust
              uses: dtolnay/rust-toolchain@stable

            - name: Add wasm target
              run: rustup target add wasm32-unknown-unknown

            - name: Install FFmpeg
              run: sudo apt-get update && sudo apt-get install -y ffmpeg

            - name: Install cargo-gooseboy
              run: cargo install --git https://github.com/awildergoose/cargo-gooseboy.git

            - name: Cache dependencies
              uses: actions/cache@v4
              with:
                  path: |
                      ~/.cargo/registry
                      ~/.cargo/git
                      target
                  key: ${{ runner.os }}-cargo-release-${{ hashFiles('**/Cargo.lock') }}

            - name: Build all examples
              run: cargo bci

            - name: Upload WASM artifact
              uses: actions/upload-artifact@v4
              with:
                  name: all-examples
                  path: target/wasm32-unknown-unknown/release/*.gbcrate
